@font-face {
    font-family: Lato;
    src: url('/static/Fonts/Lato/Lato_regular.ttf') format("truetype");

}

@font-face {
    font-family: Open-Sans;
    src: url('/static/Fonts/Open Sans/Open Sans regular.ttf') format("truetype")

}

h1, h2, h3, h4, h5, h6, p, html, body {
    font-family: Lato, Open-Sans, Serif;

}