@font-face {
    font-family: Lato;
    src: url('/static/Fonts/Lato/Lato_regular.ttf') format("truetype");

}

@font-face {
    font-family: Open-Sans;
    src: url('/static/Fonts/Open Sans/Open Sans regular.ttf') format("truetype")

}