main, .fullpage-background, .fullpage-background-temp {
    height: 100vh;
    width: 100vw;

}

.mdl-card.mdl-shadow--6dp.center-items-inner {
    background-color: rgba(255, 255, 255, 1);

}

.mdl-card.mdl-shadow--6dp.center-items-inner.passport-graphic {
    background-color: rgba(255, 255, 255, 1);

}

.mdl-card__actions.mdl-card--border {
    background-color: rgba(255, 255, 255, 1);

}

.mdl-card__title {
    font-family: Lato, Open-Sans, Serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.fullpage-background-temp, .fullpage-background {
    position: absolute;

}

.fullpage-background-temp {
    background-color: #CCE9D5;

}

.center-items-outer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subheading-1 {
    margin-bottom: 0;

}

.mdl-card__title-text {
    font-size: 2em;

}

.login-tab {
    width: 40%;
    align-content: center;
    justify-content: center;

}

.register-tab {
    width: 60%;
    align-content: center;
    justify-content: center;

}

.mdl-card__supporting-text {
    font-family: Lato, Open-Sans, Serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.passport-divider {
    width: 2px;
    background-color: black;
    margin-right: 5px;
    margin-left: 5px;

}

@media screen and (min-width: 992px) {
    .mdl-card {
        width: 500px;

    }

    .passport-divider{
        height: 1em;

    }
}

@media screen and (max-width: 992px) {
    .mdl-card {
        width: 330px;

    }

    .subheading-1, .subheading-2 {
        display: inline;
        overflow: auto;
        width: 35%;
        margin: 5px;

    }

    .passport-divider {
        height: 2em;

    }
}

.passport-outer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.passport-graphic {
    margin-top: 10px;
    min-height: 100px;
    height: 20%;
    width: 190px;
    display: inline;

}

.passport-face {
    display: inline-block;
    max-width: 90px;
    padding-left: 5px;

}

.passport-face-icon, .passport-text-icon {
    display: inline-block;
    font-size: 90px;

}

.passport-text {
    display: inline-block;
    width: 70px;
}

.mdl-card__actions, form {
    text-align: center;
    margin-top: 10px;

}

#username, #password, #action-button {
    display: inline-block;

}

.login-tab, .register-tab {
    padding: 16px;

}