html, body {

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.mdl-layout__content, .mdl-layout__tab-panel {

    height: 100%;

}

div.page-content {

    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

}

#map {

    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.mdl-layout__header-row {

    padding: 0;
    text-align: center;

}

span.mdl-layout-title {

    display: table;
    margin: 0 auto;

}

header.mdl-layout__header {

    background-color: #153F72;

}

.mdl-layout__tab-bar {

    background-color: #3F9DD0;

}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {

    background: #F5CD90;

}

.mdl-layout-title, .mdl-layout__tab {

    font-family: 'Lato';

}

