.manage-trips-back {
    position: absolute;
}

.mdl-card.mdl-shadow--2dp {
    margin: auto;
    padding-top: 10px;
}

.walks-table {
    display: table;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 18px;
    width: 320px;
}

.table-header-row {
    display: table-row;
    margin: 5px auto;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F9E4C5;
}

.table-header-row .table-cell-header {
    font-weight: 700;
    font-size: 16px;
}

.table-row, .table-header-row {
    display: table-row;
    width: 100%;
}

.table-row:hover {
    background-color: #CCE9D5;
}

.table-row {
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
}

.table-cell, .table-cell-checkbox, .table-cell-checkbox-header, .table-cell-header {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

.walks-table .table-cell, .walks-table .table-cell-checkbox {
    border-top: solid 1px gray;
}

.walks-table .table-cell-checkbox, .walks-table .table-cell-checkbox-header {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    width: 28px;
}

span {
    display: block;
}

span.walk-name-span {
    font-size: 14px;
    margin-bottom: 3px;
}

.manage-trips-button.mdl-button--raised {
    width: 90%;
    margin: 10px auto;
}

form {
    padding: 0px 20px 5px 20px;
}

.mdl-radio__label {
    font-size: 12px;
}

.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored.manage-trips-back {
    margin-left: 15px;
    color: white;
}

#confirm-walk-button {
    width: 100%;
}

.trip-chip {
    display: flex;
    flex-direction: row;
    background-color: #CCE9D5;
    align-items: center;
    justify-content: flex-end;
    border-radius: 15px;
    margin: 3px;
}

.trip-chip-walk-name {
    margin-right: auto;
}

.delete-icon {
    color: white;
}

.trip-chip-walk-name {
    padding: 2px;
    font-size: 12px;
    margin-left: 20px;
}

.trip-chip-walk-dates {
    color: #8EB199;
    padding: 2px;
    font-size: 0.5em;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #8EB199;
    border-radius: 3px;
    margin-right: 15px;
}

.trip-island-heading {
    color: #273B76;
}

.datepicker-container  {
    margin-top: 10px;
    margin-bottom: 10px;
}

span.date-started {
    margin-top: 10px;
}

span.date-completed {
    margin-top: 10px;
}

.date-started .mdl-button--fab.mdl-button--colored, .date-started .mdl-button--fab.mdl-button--colored:hover {
    background-color: #CCE9D5;
}

.date-completed .mdl-button--fab.mdl-button--colored, .date-completed .mdl-button--fab.mdl-button--colored:hover {
    background-color: #F5CD90;
}