.manage-trips-back {
    position: absolute;
}

/*.card-container{*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

.mdl-card.mdl-shadow--2dp {
    margin: auto;
}

.walks-table {
    display: table;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 18px;
    width: 320px;
}

.table-header-row {
    display: table-row;
    margin: 5px auto;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-header-row .table-cell {
    font-weight: 700;
    font-size: 16px;
}

.walks-table .table-row {
    display: table-row;
    border-top: 2px solid #9d9383;
    width: 100%;
}

.table-row:hover {
    background-color: #CCE9D5;
}

.table-row {
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
}

.walks-table .table-cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

.walks-table .table-cell-checkbox {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

span {
    display: block;
}

span.walk-name-span {
    font-size: 14px;
    margin-bottom: 3px;
}