html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.mdl-layout__content, .mdl-layout__tab-panel {
    height: 100%;

}

div.page-content {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

}

#map {
    position: absolute;
    height: 70%;
    width: auto;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.mdl-layout__header-row {

    padding: 0;
    text-align: center;

}

span.mdl-layout-title {

    display: table;
    margin: 0 auto;

}

header.mdl-layout__header {

    background-color: #5BA1D2;

}

.mdl-layout__tab-bar {
    background-color: #F9E4C5;

}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background: #F5CD90;

}

.mdl-layout-title {
    font-family: 'Lato', Open-Sans, serif;
    color: white;

}

.mdl-layout__tab, .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    font-family: 'Lato', Open-Sans, serif;
    color: #B8935C;

}

/*Card formatting*/

.walk-card-feed {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;

}

.card-title {
    width: 100%;

}

h2.card-title-text {
    padding-left: 10px;
    font-size: 18px;
    color: black;
    height: 20%;
    border-radius: 15px;
    margin: 5px 0;
    float: left;
    width: 100%;

}

.abel-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/abel-tasman.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/abel-tasman.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/abel-tasman.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/abel-tasman.jpg') center / cover; /*Standard*/

}

.waikare-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url('/static/Media/Photographs/Walks/abel-tasman.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url('/static/Media/Photographs/Walks/lake-waikaremoana.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url('/static/Media/Photographs/Walks/lake-waikaremoana.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url('/static/Media/Photographs/Walks/lake-waikaremoana.jpg') center / cover; /*Standard*/

}

.tongariro-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/abel-tasman.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/tongariro_northern_circuit.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/tongariro_northern_circuit.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/tongariro_northern_circuit.jpg') center / cover; /*Standard*/

}

.whanganui-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/whanganui-river-journey.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/whanganui-river-journey.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/whanganui-river-journey.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/whanganui-river-journey.jpg') center / cover; /*Standard*/

}

.heaphy-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/heaphy-track.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/heaphy-track.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/heaphy-track.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/heaphy-track.jpg') center / cover; /*Standard*/

}

.paparoa-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url('/static/Media/Photographs/Walks/paparoa-track.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url('/static/Media/Photographs/Walks/paparoa-track.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url('/static/Media/Photographs/Walks/paparoa-track.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url('/static/Media/Photographs/Walks/paparoa-track.jpg') center / cover; /*Standard*/
    font-size: 14px;
}

.milford-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/milford-track.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/milford-track.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/milford-track.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/milford-track.jpg') center / cover; /*Standard*/

}

.kepler-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/kepler-track.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/kepler-track.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/kepler-track.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/kepler-track.jpg') center / cover; /*Standard*/

}

.routeburn-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/routeburn track.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/routeburn track.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/routeburn track.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/routeburn track.jpg') center / cover; /*Standard*/

}

.rakiura-walk h2.card-title-text {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/rakiura track.jpg') center / cover; /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/rakiura track.jpg') center / cover; /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/rakiura track.jpg') center / cover; /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url('/static/Media/Photographs/Walks/rakiura track.jpg') center / cover; /*Standard*/

}

span.card-icon {
    float: right;
    padding-right: 5%;

}

.walk-card-icon {

    color: #FFF;

}

.mdl-button--fab.mdl-button--colored, .mdl-button--fab.mdl-button--colored:hover {

    background: #5BA1D2;

}

h1, h2, h3, h4, h5, p {

    font-family: Lato, Open-Sans, Serif;

}

.home-icon, .my-journey-icon {

    font-size: 32px;

}

.account-icon, .about-icon, .logout-icon {

    padding-top: 5px;
    font-size: 32px;

}

.my-journey-icon, .my-memories-icon {

    padding-top: 3px;

}

.my-memories-icon {

    font-size: 42px;

}

a:focus, a:hover {

    text-decoration: none;
    color: #F5CD90;

}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {

    color: black;

}


