{% extends "layout.html" %}

{% block custom_styles %}
    <link href="{{ url_for('static', filename='CSS/tab_content_styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='CSS/three_dim_tumbler_anim.css') }}" rel="stylesheet"/>
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="/static/JavaScript/walk_card_feed.js"></script>
    <script type="text/javascript" src="/static/JavaScript/three_dim_tumbler_anim.js"></script>
{% endblock %}

{% block title %}
    Great Walks Passport
{% endblock %}

{% block main %}

    <!-- Simple header with fixed tabs. -->
    <div id="loading-mask"></div>
    <div id="site-content" class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs" style="display: none;">

        <header class="mdl-layout__header">

            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Great Walks Passport</span>
            </div>

            <!-- Tabs Buttons-->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#my-walks" class="mdl-layout__tab is-active">
                    <div class="icon-hiker my-journey-icon"></div>
                </a>
                <a href="#home" class="mdl-layout__tab">
                    <div class="icon-nz home-icon"></div>
                </a>
                <a href="#my-memories" class="mdl-layout__tab">
                    <div class="icon-memories my-memories-icon"></div>
                </a>
                <a href="#my-account" class="mdl-layout__tab"><i
                        class="material-icons account-icon">account_circle</i></a>
                <a href="#about-the-app" class="mdl-layout__tab"><i class="material-icons about-icon">perm_device_information</i></a>
                <a href="/logout" class="mdl-layout__tab"><i class="material-icons logout-icon">exit_to_app</i></a>
            </div>
        </header>

        {#-- App Home Page Content --#}
        <main class="mdl-layout__content">

            {# ---------------My Walks Tab--------------#}
            <section class="mdl-layout__tab-panel is-active" id="my-walks">
                <div class="page-content">

                    {# ----------Basic Stats Dashboard -------- #}
                    <h2 class="page-section-heading first-page-heading">Walks Dashboard</h2>
                    <div class="walks-rank-dashboard">
                        <div class="headline-stat">
                            <h2 class="headline-text"><span class="decimal-counter placeholder">...</span></h2>
                            <h2 class="headline-text">km</h2>
                        </div>
                        <div class="secondary-stat">
                            <h3 class="headline-text"><span class="decimal-counter placeholder">... </span>/3</h3>
                            <h4 class="secondary-text">Northern Walks Completed</h4>
                            <h3 class="headline-text"><span class="decimal-counter placeholder">... </span>/7</h3>
                            <h4 class="secondary-text">Southern Walks Completed</h4>
                        </div>
                        <div class="tertiary-stat">
                            <h4 class="secondary-text">My Badges</h4>
                            <div class="badges-tumbler-container">
                                <div class="tumble-item tumble-active" id="tumble-temp">
                                    <img class="badge-img" src="/static/Media/Photographs/Badges/blank_badge_1_2_3_4_6_7.png">
                                </div>
                            </div>

                        </div>
                    </div>

                    {# ----------Rank -------------------- #}
                    <h2 class="page-section-heading">Rank</h2>
                    <div class="walks-rank-dashboard">
                        <div class="rank-headline">
                            <h2 class="rank-label">Rank</h2>
                            <h2 class="headline-text rank-numeral placeholder">...</h2>
                        </div>
                        <div class="rank-text-display">
                            <h2 class="rank-text placeholder">...</h2>
                            <h4 class="secondary-rank">Next: <span><strong class="next-rank placeholder">...</strong></span></h4>
                        </div>
                        <div class="badges-tumbler-container">
                                <div class="rank-img">
                                    <img class="badge-img" id="rank-img-placeholder" src="/static/Media/Photographs/Rank/blank.jpg">
                                </div>
                            </div>
                    </div>
                    {# ----------Badge Collection -------- #}
                    <h2 class="page-section-heading">Your Great Walks</h2>
                    <div class="great-walks-badge-collection">
                        <div class="badge-row">
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-1" src="/static/Media/Photographs/Badges/blank_badge_1_2_3_4_6_7.png">
                            </div>
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-2" src="/static/Media/Photographs/Badges/blank_badge_1_2_3_4_6_7.png">
                            </div>
                            <div class="badge-coll-item" >
                                <img class="badge" id="gw-badge-3" src="/static/Media/Photographs/Badges/blank_badge_1_2_3_4_6_7.png">
                            </div>
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-4" src="/static/Media/Photographs/Badges/blank_badge_1_2_3_4_6_7.png">
                            </div>
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-5" src="/static/Media/Photographs/Badges/blank_badge_5.png">
                            </div>
                        </div>
                        <div class="badge-row">
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-6" src="/static/Media/Photographs/Badges/blank_badge_1_2_3_4_6_7.png">
                            </div>
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-7" src="/static/Media/Photographs/Badges/blank_badge_1_2_3_4_6_7.png">
                            </div>
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-8" src="/static/Media/Photographs/Badges/blank_badge_8.png">
                            </div>
                            <div class="badge-coll-item" >
                                <img class="badge" id="gw-badge-9" src="/static/Media/Photographs/Badges/blank_badge_9.png">
                            </div>
                            <div class="badge-coll-item">
                                <img class="badge" id="gw-badge-10" src="/static/Media/Photographs/Badges/blank_badge_10.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            {# -----NZ Map and Great Walks Locations Tab-------#}
            <section class="mdl-layout__tab-panel" id="home">
                <div class="page-content">
                    <img id="map" class="center-block"
                         src="{{ url_for('static', filename='Media/Photographs/nz_map_v2.png') }}"
                         alt="New Zealand Map"/>

                </div>

                {#To be populated with AJAX at a later stage#}
                <div class="walk-card-feed">


                    {# Walks to be appended prior to the loader #}
                    <div id="loader">
                        <div class="walk-feed-loader">
                            <img id="loader-svg" src="/static/Media/Loader/loader.svg" alt="Loader">
                        </div>
                        <div class="loaded-wrapper">
                            <div id="loaded1"></div>
                            <div id="loaded2"></div>
                            <div id="loaded3"></div>
                            <div id="loaded4"></div>
                        </div>
                    </div>
                </div>


            </section>

            {# ---------------My Memories Tab--------------#}
            <section class="mdl-layout__tab-panel" id="my-memories">
                <div class="page-content">My Memories</div>
            </section>

            {# ---------------My Account Tab--------------#}
            <section class="mdl-layout__tab-panel" id="my-account">
                <div class="page-content">My Account</div>
            </section>

            {# ---------------About the App--------------#}
            <section class="mdl-layout__tab-panel" id="about-the-app">
                <div class="page-content">About the app</div>
            </section>

        </main>
    </div>

{% endblock %}

{% block end_scripts %}
    <script type="text/javascript" src="/static/JavaScript/dashboard_populate.js"></script>
{% endblock %}