{% extends "layout.html" %}

{% block custom_styles %}
    <link href="{{ url_for('static', filename='CSS/welcome_Styles.css') }}" rel="stylesheet"/>
{% endblock %}

{% block custom_javascript %}

{% endblock %}

{% block title %}
    Great Walks Passport
{% endblock %}

{% block main %}



    <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">

        <header class="mdl-layout__header">

            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Great Walks Passport</span>
            </div>

            <!-- Tabs Buttons-->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#home" class="mdl-layout__tab is-active"><div class="icon-nz home-icon"></div></a>
                <a href="#my-walks" class="mdl-layout__tab"><div class="icon-hiker my-journey-icon"></div></a>
                <a href="#my-memories" class="mdl-layout__tab"><div class="icon-memories my-memories-icon"></div></a>
                <a href="#my-account" class="mdl-layout__tab"><i class="material-icons account-icon">account_circle</i></a>
                <a href="#about-the-app" class="mdl-layout__tab"><i class="material-icons about-icon">perm_device_information</i></a>
                <a href="/logout" class="mdl-layout__tab"><i class="material-icons logout-icon">exit_to_app</i></a>
            </div>
        </header>

        {#-- App Home Page Content --#}
        <main class="mdl-layout__content">

            <section class="mdl-layout__tab-panel is-active" id="home">
                <div class="page-content">
                    <img id="map" class="center-block"
                         src="{{ url_for('static', filename='Media/Photographs/nz_map_v2.png') }}"
                         alt="New Zealand Map"/>

                </div>

                {#To be populated with AJAX at a later stage#}
                <div class="walk-card-feed">

                    {#Waikaremoana#}
                    <div class="waikare-walk card">
                            <h2 class="card-title-text">Lake Waikaremoana
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                    </div>

                    {#Tongariro Northern Circuit#}
                    <div class="tongariro-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Tongariro Northern Circuit
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Whanganui River Journey#}
                    <div class="whanganui-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Whanganui River Journey
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Abel Tasman Coastal Track#}
                    <div class="abel-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Abel Tasman Coastal Track
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Heaphy Tasman Coastal Track#}
                    <div class="heaphy-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Heaphy Track
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Paparoa Track#}
                    <div class="paparoa-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Paparoa + Pike 29 Memorial Track (2019)
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Milford Track#}
                    <div class="milford-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Milford Track
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Routeburn Track#}
                    <div class="routeburn-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Routeburn Track
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Kepler Track#}
                    <div class="kepler-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Kepler Track
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                    {#Rakiura Track#}
                    <div class="rakiura-walk card">
                        <div class="card-title">
                            <h2 class="card-title-text">Rakiura Track
                                <span class="card-icon">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                              <i class="material-icons walk-card-icon">directions_walk</i>
                            </button>
                        </span>
                            </h2>
                        </div>
                    </div>

                </div>



            </section>


            {# ---------------My Walks Tab--------------#}
            <section class="mdl-layout__tab-panel" id="my-walks">
                <div class="page-content">My Walks</div>
            </section>


            {# ---------------My Memories Tab--------------#}
            <section class="mdl-layout__tab-panel" id="my-memories">
                <div class="page-content">My Memories</div>
            </section>

            {# ---------------My Account Tab--------------#}
            <section class="mdl-layout__tab-panel" id="my-account">
                <div class="page-content">My Account</div>
            </section>

            {# ---------------About the App--------------#}
            <section class="mdl-layout__tab-panel" id="about-the-app">
                <div class="page-content">About the app</div>
            </section>

        </main>
    </div>


{% endblock %}