<!DOCTYPE html>
<html lang="en">
<head>

    {# -------------Fundamental <meta> tags----------------#}
    <meta charset="UTF-8">
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    {#--Internet Explorer Compatibility--#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {#--------------Bootstrap CSS Rules---------------------#}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    {#--------------Material Design Lite--------------------#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    {#----------------Custom CSS Rules----------------------#}
    <link href="{{ url_for('static', filename='CSS/default_styles.css') }}" rel="stylesheet"/>
    {% block custom_styles %} {% endblock %}

    {#-----------------------FONT---------------------------#}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    {#-----------------------ICONS------------------------#}
    <link href="/static/CSS/font.css" rel="stylesheet">

    {#------------Bootstrap JS and jQuery plugin------------#}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {#------------------CUSTOM JAVASCRIPT---------------#}
    {% block custom_javascript %} {% endblock %}

    {#--------------------Page Title-----------------------#}
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    {% block main %}
    {% endblock %}
</body>
</html>