<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test HTML</title>

    {# REACT SCRIPTS#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

</head>
<body>

    <h1>Hi {{ test }}</h1>

    <img src="{{ url_for('static', filename='Media/Photographs/test_img.jpg') }}"/>

    {% for item in rows %}
        <p>User id: {{ item['id'] }}, Name: {{ item['name'] }}</p>
        <p>Quote: {{ item['quote'] }}</p>
        <br>
    {% endfor %}

    <p id="content"></p>

    <script type="text/jsx">
      /*** @jsx React.DOM */

      class TestComponent extends React.Component {
        render() {
          return (<h2>Greetings, from React!</h2>);
        }
      };

      ReactDOM.render(
        <TestComponent />,
        document.getElementById('content')
      );

    </script>

</body>
</html>