{% extends "layout.html" %}

{% block custom_styles %}
    <link href="{{ url_for('static', filename='CSS/tab_content_styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='CSS/trips_management.css') }}" rel="stylesheet"/>
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="/static/JavaScript/new_trip_form.js"></script>
{% endblock %}

{% block title %}
    Manage My Trips
{% endblock %}

{% block main %}

    <div id="site-content" class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">

            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a href="/" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored manage-trips-back">
                    <i class="material-icons" id="home-icon">home</i>
                    <div class="mdl-tooltip" data-mdl-for="home-icon">
                        Home
                    </div>
                </a>
                <span class="mdl-layout-title">Great Walks Passport</span>
            </div>
        </header>

        {#--Trip Management Page Content--#}
        <main class="mdl-layout__content">
            <div class="page-content">
                <h2 class="page-section-heading first-page-heading">My Trips</h2>
            </div>

            <div class="card-container">
                <div class="mdl-card mdl-shadow--2dp">

                    {% for trip in trips %}
                            <span class="trip-chip" id="checkbox-{{ loop.index }}">
                                <span class="trip-chip-walk-name">{{ trip.walk_name }}&nbsp</span>
                                <span class="trip-chip-walk-dates"><strong class="trip-start-date">{{ trip.date_started }} -</strong><strong class="trip-end-date">{{ trip.date_completed }}</strong></span>
                                <button class="mdl-button mdl-js-button mdl-button--icon delete-trip-button">
                                  <i class="material-icons delete-icon">cancel</i>
                                </button>
                            </span>
                    {% endfor %}

                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect manage-trips-button"
                            id="add-walk-button">
                        New Trip
                    </button>

                    <div id="new-walk-form-container">
                        <form>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-lake-waikaremoana">
                                    <input type="radio" id="add-lake-waikaremoana" class="mdl-radio__button"
                                           name="walks-set" value="Lake Waikaremoana"
                                           checked>
                                    <span class="mdl-radio__label">Lake Waikaremoana</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-tongariro">
                                    <input type="radio" id="add-tongariro" class="mdl-radio__button" name="walks-set"
                                           value="Tongariro Northern Circuit"
                                           checked>
                                    <span class="mdl-radio__label">Tongariro Northern Circuit</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-whanganui">
                                    <input type="radio" id="add-whanganui" class="mdl-radio__button" name="walks-set"
                                           value="Whanganui Journey"
                                           checked>
                                    <span class="mdl-radio__label">Whanganui Journey</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-abel">
                                    <input type="radio" id="add-abel" class="mdl-radio__button" name="walks-set"
                                           value="Abel Tasman Coast Track"
                                           checked>
                                    <span class="mdl-radio__label">Abel Tasman Coast Track</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-heaphy">
                                    <input type="radio" id="add-heaphy" class="mdl-radio__button" name="walks-set"
                                           value="Heaphy Track"
                                           checked>
                                    <span class="mdl-radio__label">Heaphy Track</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-paparoa">
                                    <input type="radio" id="add-paparoa" class="mdl-radio__button" name="walks-set"
                                           value="Paparoa Track + Pike29 Memorial Track"
                                           checked>
                                    <span class="mdl-radio__label">Paparoa Track + Pike29 Memorial Track</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-routeburn">
                                    <input type="radio" id="add-routeburn" class="mdl-radio__button" name="walks-set"
                                           value="Routeburn Track"
                                           checked>
                                    <span class="mdl-radio__label">Routeburn Track</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-kepler">
                                    <input type="radio" id="add-kepler" class="mdl-radio__button" name="walks-set"
                                           value="Kepler Track"
                                           checked>
                                    <span class="mdl-radio__label">Kepler Track</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-milford">
                                    <input type="radio" id="add-milford" class="mdl-radio__button" name="walks-set"
                                           value="Milford Trackk"
                                           checked>
                                    <span class="mdl-radio__label">Milford Track</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="add-rakiura">
                                    <input type="radio" id="add-rakiura" class="mdl-radio__button" name="walks-set"
                                           value="Rakiura Track"
                                           checked>
                                    <span class="mdl-radio__label">Rakiura Track</span>
                                </label>
                            </div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect manage-trips-button"
                                    id="confirm-walk-button">
                                Add New Trip
                            </button>
                        </form>
                    </div>
                </div>
            </div>
    </div>


    </main>
    </div>

{% endblock %}

{% block end_scripts %}
{% endblock %}