{% extends "layout.html" %}

{% block custom_styles %}
    <link href="{{ url_for('static', filename='CSS/tab_content_styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='CSS/trips_management.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='CSS/datepicker.css') }}" rel="stylesheet"/>
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="/static/JavaScript/new_trip_form.js"></script>
    <script type="text/javascript" src="/static/JavaScript/datepicker.js"></script>
    <script type="text/javascript" src="/static/JavaScript/toggle_walk_addition.js"></script>
{% endblock %}

{% block title %}
    Manage My Trips
{% endblock %}

{% block main %}

    <div id="site-content" class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">

            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a href="/" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored manage-trips-back">
                    <i class="material-icons" id="home-icon">home</i>
                    <div class="mdl-tooltip" data-mdl-for="home-icon">
                        Home
                    </div>
                </a>
                <span class="mdl-layout-title">Great Walks Passport</span>
            </div>
        </header>

        {#--Trip Management Page Content--#}
        <main class="mdl-layout__content">
            <div class="page-content">
                <h2 class="page-section-heading first-page-heading">My Trips</h2>
            </div>

            <div class="card-container">
                <div class="mdl-card mdl-shadow--2dp">

                    {% for trip in trips %}
                        <span class="trip-chip" id="checkbox-{{ loop.index }}">
                                <span class="trip-chip-walk-name"><strong>{{ trip.walk_name }}&nbsp</strong></span>
                                <span class="trip-chip-walk-dates"><strong
                                        class="trip-start-date">{{ trip.date_started }} -</strong><strong
                                        class="trip-end-date">{{ trip.date_completed }}</strong></span>
                                <button class="mdl-button mdl-js-button mdl-button--icon delete-trip-button">
                                  <i class="material-icons delete-icon">cancel</i>
                                </button>
                            </span>
                    {% endfor %}

                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect manage-trips-button toggle-add-walk-button"
                            id="add-walk-button">
                        New Trip
                    </button>

                </div>
            </div>

            <div id="add-walk-form">
            </div>
        </main>
    </div>


    </main>
    </div>

{% endblock %}

{% block end_scripts %}
{% endblock %}