{% extends "layout.html" %}

{% block custom_styles %}
    <link href="{{ url_for('static', filename='CSS/tab_content_styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='CSS/trips_management.css') }}" rel="stylesheet"/>
{% endblock %}

{% block custom_javascript %}
{% endblock %}

{% block title %}
    Manage My Trips
{% endblock %}

{% block main %}

    <div id="site-content" class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">

            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Great Walks Passport</span>
            </div>

            <!--My trips-->

        </header>
    </div>

{% endblock %}

{% block end_scripts %}
{% endblock %}