{% extends "layout.html" %}

{% block custom_styles %}
    <link href="{{ url_for('static', filename='CSS/page_construction_styles.css') }}" rel="stylesheet"/>
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="/static/JavaScript/background_image_load.js"></script>
{% endblock %}

{% block title %}
    Page Under Construction
{% endblock %}

{% block main %}

    <div class="under-construction-main-container">
        <div>
            <a href="/">
                <button class="return-home-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">exit_to_app</i>
                </button>
            </a>
        </div>
        <div class="under-construction-message-outer">
            <div class="under-construction-message-inner">
                <h4><strong>This page is under construction</strong></h4>
                <i class="material-icons">build</i>
            </div>
        </div>
        <div class="under-construction-background-temp">
        </div>
        <div class="under-construction-background">
        </div>

    </div>

{% endblock %}