{% extends "layout.html" %}

{% block custom_styles %}
    <link href="{{ url_for('static', filename='CSS/tab_content_styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='CSS/walk_info_page.css') }}" rel="stylesheet"/>
{% endblock %}

{% block custom_javascript %}

{% endblock %}

{% block title %}

{% endblock %}

{% block main %}

    <div id="site-content" class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">

            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a href="/" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored manage-trips-back">
                    <i class="material-icons" id="home-icon">home</i>
                    <div class="mdl-tooltip" data-mdl-for="home-icon">
                        Home
                    </div>
                </a>
                <span class="mdl-layout-title">Great Walks Passport</span>
            </div>
        </header>

        {#--Trip Management Page Content--#}
        <main class="mdl-layout__content">
            <div class="page-content">
                <div id="walk_info_card" class="walk-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title" style="background: url('{{ walk.background_image }}') center center / cover;">
                        <h2 class="page-section-heading first-page-heading"><strong>{{ walk.walk_name }}</strong></h2>
                    </div>
                    <div class="mdl-card__supporting-text">

                        <h6>{{ walk.walk_description }}</h6>

                        <p><strong>Region:</strong> {{ walk.walk_region }}, {{ walk.walk_country }}</p>
                        <p><strong>Length:</strong> {{ walk.one_way_distance }} km
                            {% if walk.loop_track == 0 %}
                                circuit
                            {% endif %}
                        </p>

                        {# If great walk has a season, display accordingly #}
                        {% if walk.great_walks_season_start != walk.great_walks_season_end %}
                            <p><strong>Great Walks Season</strong>
                                {{ walk.great_walks_season_start }} to {{ walk.great_walks_season_end }}
                            </p>
                        {% endif %}


                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           href="{{ walk.doc_site_hyperlink }}" style="text-align: center; color: black;">
                            Find Out More
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                        <a href="{{ walk.doc_site_hyperlink }}"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">info</i>
                        </button></a>
                    </div>
                </div>
            </div>
        </main>
    </div>


    </main>
    </div>

{% endblock %}

{% block end_scripts %}
{% endblock %}